<h1>Listing gauges</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Vzt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gauges.each do |gauge| %>
  <tr>
    <td><%= gauge.name %></td>
    <td><%= gauge.vzt %></td>
    <td><%= link_to 'Show', gauge %></td>
    <td><%= link_to 'Edit', edit_gauge_path(gauge) %></td>
    <td><%= link_to 'Destroy', gauge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gauge', new_gauge_path %>
